$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 22px;
$fs-xl: 25px;
$cl-black: black;
$cl-white: white;
$cl-gray: rgb(205, 205, 205);
$cl-pink: #ff385c;

.room {
  padding: 160px 0;
  &__container {
    width: 92%;
    margin: 0 auto;
    &__content {
      &__info {
        .review {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          &__left {
            display: flex;
            justify-content: start;
            &__vote {
              svg {
                color: $cl-pink;
              }
              span:first-child {
                font-weight: bold;
              }
              span:last-child {
                color: $cl-gray;
                text-decoration: underline;
              }
            }
            &__owner {
              padding: 0 20px;
              svg {
                color: $cl-pink;
              }
            }
          }
          &__right {
            display: flex;
            justify-content: end;
            &__share {
              span {
                text-decoration: underline;
              }
            }
            &__save {
              padding: 0 20px;
              text-decoration: underline;
              span {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &__des-booking {
        display: flex;
        width: 100%;
        .des {
          width: 60%;

          &-owner {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $cl-gray;
            padding: 30px 0;

            &__left {
              width: 60%;
            }
            &__right {
              width: 40%;
              text-align: end;
              svg {
                width: 20%;
                height: 30%;
              }
            }
          }
          &-room {
            padding: 30px 0;
          }
        }
        .booking {
          width: 40%;
        }
      }
      &__comments {
        .reviewer {
          .info {
            display: flex;
            .avatar {
              img {
                width: 40px;
                border-radius: 50%;
              }
            }
            .name-date {
              margin-left: 20px;
            }
          }
          .des {
            margin: 10px 0;
          }
        }
        .comment {
          padding: 50px 0;
          .avatar-input {
            display: flex;
            img {
              border-radius: 50%;
              height: 40px;
            }
            textarea {
              width: 500px;
              height: 150px;
              margin-left: 20px;
            }
          }
          .btn-comment {
            background-color: $cl-pink;
            color: $cl-white;

            border: 1px solid $cl-pink;
            border-radius: 20px;
            font-size: $fs-sm;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
